:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	background-color: #ffffff;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 45px 100px 0;
}
.header__nav {
	display: flex;
	align-items: center;
	gap: 57px;
}
.header__nav__link {
	font-size: 24px;
	font-weight: 500;
	color: #000;
	text-decoration: none;
}
.header__nav__link.active {
	text-decoration: underline;
}
.home__main__container {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
@media (prefers-color-scheme: light) {
}
